<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

   <system.webServer>
      <defaultDocument>
         <files>
            <add value="webgl_loader_stl.html" />
         </files>
      </defaultDocument>
      <directoryBrowse enabled="true" />
      <staticContent>
         <remove fileExtension=".json" />
         <mimeMap fileExtension=".json" mimeType="application/json" />
         <remove fileExtension=".proto" />
         <mimeMap fileExtension=".proto" mimeType="text/plain" />
         

      </staticContent>
     <!--<httpProtocol>
       --><!--<customHeaders>
         <add name="Access-Control-Allow-Origin" value="*" />
         <add name="Access-Control-Allow-Methods" value="GET, PUT, POST, DELETE, HEAD, OPTIONS" />
         <add name="Access-Control-Allow-Credentials" value="true"/>
         <add name ="Access-Control-Allow-Headers" value= "Cache-Control, Pragma, Origin, Authorization, Content-Type, X-Requested-With" />

       </customHeaders>--><!--
     </httpProtocol>-->
   </system.webServer>
</configuration>
